h1 {
  font-family: 'Helvetica';
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1ytvlu2*_gcl_au*MTEyMzExODA3My4xNzI3MTcyMTE4*_ga*NjcwNzc3NzcxMC4xNzI3MTcyMTI2*_ga_3LRZM6TM9L*MTcyODM4NTg1My4zMy4xLjE3MjgzODU4NzIuMC4wLjA.");
  text-align: center;
}


h2 {
  font-family: 'Helvetica';
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#paint {
  background-color: skyblue;
}

#frames {
  background-color: lightcoral;
}

.price {
  color: blue;
  font-weight: bold;
  font-family: 'Helvetica';
}
